XBREACH_APP_NAME=xbreach-ingest
XBREACH_APP_VERSION=0.1.0
XBREACH_ENVIRONMENT=local
XBREACH_LOG_LEVEL=INFO
XBREACH_DATA_PATH=/data/xbreach
XBREACH_APP_ID=1
XBREACH_NODE_ID=1
XBREACH_POSTGRES_HOST=postgres
XBREACH_POSTGRES_PORT=5432
XBREACH_POSTGRES_DB=xbreach
XBREACH_POSTGRES_USER=xbreach
XBREACH_POSTGRES_PASSWORD=xbreach
XBREACH_REDIS_HOST=redis
XBREACH_REDIS_PORT=6379
XBREACH_REDIS_DB=0
